
/* -------------------home page------------------ */
.homepage{
  display: grid;
  grid-template-columns: 2fr 4fr 2.5fr;
  overflow: hidden;
  justify-content: space-around;
  width: 100%;
}

/* -------------------NewsFeed------------------ */
.newsfeed-container {
  max-width: 800px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 620px;
  width: 97%;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  }

  .postuser .userimg img{
    padding: 10px;
  }


  .postuser .userbody p{
    top: 0;
    text-align: left;
    height: auto;
  }

  .post .content{
    padding: 20px;
  }

  .createpost{
    margin: 10px;
    width: auto;
  }

  .feedhead h1{
    margin: 5px;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }

  .feedbody{
    padding: 20px;
    overflow: auto;
  }
  

  .post-list{
    list-style: none;
    padding: 0;
    width: auto;
    height: 10%;
  }
  

  
  .post {
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .postuser{
    display: flex;
  }
  
  .post p {
    font-size: 1rem;
    margin: 0;
    color: #333;
  }
  
  .post small {
    display: block;
    margin-top: 10px;
    font-size: 0.875rem;
    color: #666;
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 1.25rem;
    color: #666;
  }
  
  
.post .buttons {
  margin-top: 15px;
}

.post button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.post button:hover {
  background-color: #0056b3;
}

.post button.comment {
  background-color: #28a745;
}

.post button.comment:hover {
  background-color: #218838;
}

.post button.share {
  background-color: #ffc107;
}

.post button.share:hover {
  background-color: #e0a800;
}



/* -------------------user-list------------------ */
.users-list {
  margin: 10px;
  padding: 10px;
  height: 600px;
  width: auto;
  box-shadow: rgba(23, 127, 230, 0.2) 0px 8px 24px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  overflow: hidden;
  
}
.users{
  padding: 10px;
  margin: 10px;
  overflow: auto;
}

.userimg img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.eachuser{
  list-style: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-around;
}

.userbody{
  font-size: 22px;
  text-align: center;
  padding: 10px;
}