.profile{
    background-color: #98e4fe;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.profilebox{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 50rem;
    height: 20rem;
}

.profileimg{
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.profileimg img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
}

.profilebody{
    padding: 20px;
    height: auto;
    width: 100%;
}

.profilebody h1{
    color: rgb(57, 56, 56);
}
 
.profilename .bio{
    color: rgb(107, 107, 107);
    font-size:15px;
    font-weight: 600;
}

.profilebody p{
    color: rgb(108, 108, 108);
    font-size:18px;
    font-weight: 500;
    margin: 1px;
}

.profiledetail{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.detail{
    padding: 10px;
}

.detail label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(53, 53, 53);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 5px;

}

.profileshow{
    margin: 5px;
    display: flex;
    padding: 8px;
    border-radius: 5px;
    background-color: #e7e5e5bc;
    justify-content: space-around;
}

.profileshow label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(111, 108, 108);
    font-weight: 550;

}

.profileshow p{
    font-weight: bold;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }
