.comment{
    align-items: center;
    border-radius: 20px; 
    display: flex;
    overflow: hidden;
    border: 2px solid #ccc;
    height: 40px;
    width: 100%;
  }
  
  .comment input[type="text"]{
    flex: 1 1 80%;
    height: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 20px 0 0 20px; 
    outline: none;
    box-sizing: border-box;
  }
  
  
  .comment input[type="button"]{
    flex: 1 1 20%; 
    height: 100%;
    width:  auto;
    padding: 0 10px;
    border: none;
    background-color: #007BFF; 
    color: white;
    border-radius: 0 20px 20px 0; 
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .comment button:hover {
    background-color: #0056b3; 
  }
  